*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
nav{
} */
ul{
    display: flex;
    margin: 6px;
}
li{
    margin: 0 3px;
    list-style: none;
}
a{
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
}
.img{
    margin: 5px 5px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
/* main{

} */
section{
        display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    height: 500px;
    color: white;
    align-items: center;
}

.blue{
    height: 200px;
    border-radius: 70px;
}
.kanan{
    text-align: center;
}
.container{
    background-color: red;
    width: 100vw;
    display: flex;
    

}
.card{
    width: 250px;
    border: 1px solid black;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
}
.budi{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
